include README.md
include ghostforge/prompts/*.yaml
include ghostforge/recipes/*.yaml
recursive-include ghostforge *.yaml
include requirements.txt
include LICENSE
include VERSION
include setup.py
include .gitignore
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .DS_Store
global-exclude .env
global-exclude .envrc 